* {
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #ecece4;
}

h1 {
  background: linear-gradient(to bottom, #6c6c74, #ecece4);
  border: 1px;
  /* font-family: fantasy; */
  font-weight: 100;
  font-style: italic;
  text-decoration: underline;
  /* color: #460303; */
  padding: 10px 0 0 10px;
}

h2 {
  background-color: #cccccc;
  /* font-family: fantasy; */
  font-size: 2rem;
  font-weight: lighter;
  padding: 10px 0 0 10px;
}

body {
  font-family: sans-serif;
  font-weight: 100;
  line-height: 1.5;
}

#pic1 {
  margin: 3px;
}

.hobby {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: space-around;
}

.hobbies {
  background-color: #cccccc;
  padding: 0.5rem;
  border-radius: 5px;
}

.skill {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: space-around;
}

.skills {
  background-color: #cccccc;
  padding: 0.5rem;
  border-radius: 5px;
}
